<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Пример страницы</title>
   </head>
<body>
ean13
<br>
{{ barcodeEAN|raw }}
<div>
    {{ code }}
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
CODE128
<br>
<div>
    {{ barcode128|raw }}
</div>
<div>
    {{ code }}
</div>
{#<blockquote>Rendered with Twig 🌱</blockquote>#}
</body>
</html>
